<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <div style="width: 300px">
      <canvas
        baseChart
        [datasets]="labelMFL"
        [labels]="dataId"
        [options]="lineChartOptions"
        chartType="Bar"
      ></canvas>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    ><div style="width: 200px">
      <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color"
        >
          {{ tile.text }}
        </mat-grid-tile>
      </mat-grid-list>
    </div></mat-grid-tile
  >
  <mat-grid-tile>
    <div style="width: 250px">
      <h2>Recommendations</h2>
      <ul>
        <li>
          Les données de test sont à revoir : sur 160 données de test, 86
          données bonnes ont été identifiée mauvaises par l’algorithme.
        </li>
        <li>
          Les données d’entrainement sont à revoir : sur 100 données de test, 5
          données bonnes ont été identifiée mauvaises par l’algorithme.
        </li>
      </ul>
    </div></mat-grid-tile
  >
</mat-grid-list>
