.example-card {
  max-width: 250px;
  margin-right: 20px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.float {
  float: right;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.trainingInfo {
  margin-left: 12px;
}
.header {
  max-width: 795px;
  margin-top: 10px;
}
#afficherlog {
  float: right;
}
.container {
  display: flex;
  justify-content: center;
}
