<div class="menu">
  <h5>STATISTIQUES</h5>
  <h2>Détection d'acier</h2>

  <div class="gauche">
    <p color="E1E1E1">ACIER(TOTAL)</p>
    <div class="textAlign">
      <p>{{ bonne.count }}</p>
    </div>
  </div>

  <div class="droite">
    <p>AUTRES(TOTAL)</p>
    <div class="textAlign">
      <p>{{ casse.count }}</p>
    </div>
  </div>

  <div>
    <p class="espace-blanc"><strong>APPRENTISSAGES</strong></p>
    <button class="bordure-stat-apprentissage">
      #1 92% 12/01/2022 à 10h20
    </button>
    <button class="bordure-stat-apprentissage">
      #2 <strong>31%</strong> 15/01/2022 à 14h34
    </button>
  </div>
  <button class="button-fond-bleu">LANCER UN APPRENTISSAGE</button>
</div>
